<div class="header">
  <div class="logo">
    <p><%= t "title" %></p>
  </div>
  <div class="search-box">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="text" name="" value="" placeholder="<%= t('placeholder.search') %>">
  </div>
  <div class="avatar-box">
    <p><%= t "user.username" %></p>
    <div class="avatar">
    </div>
  </div>
</div>
