:root {
  --background-color: #ededed;
  --white-color: #fff;
  --slate-gray-color: slategray;
  --black-color: black;
  --light-gray-color: lightgray;
  --warning-color: #ff9800;
  --error-color: #f44336;
  --shadow-box: rgba(0, 0, 0, 0.15);
  --success-color: #4caf50;
  --link-color: #007bff;
  --link-hover-color: #0056b3;
  --primary-color: #007bff;
  --disabled-text-color: #aaa;
  --secondary-color: #6c757d;
  --text-color: #212529;
  --border-color: #dee2e6;
  --button-text-color: var(--white-color);
}
