@import 'variables';
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: auto;
  min-height: 100vh;
  background-color: var(--background-color);
  padding: 32px;
  user-select: none;
}

.header {
  width: 100%;
  height: 80px;
  background-color: var(--white-color);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;

  > .logo {
    p {
      padding-left: 16px;
      font-size: 24px;
      font-weight: 900;
    }
  }

  > .search-box {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 400px;
    height: 45px;
    border: 1px solid var(--background-color);
    border-radius: 10px;

    > form {
      > input {
        border: none;
        outline: none;
        width: 100%;
      }
    }
  }

  > .avatar-box {
    display: flex;
    align-items: center;
    gap: 8px;

    > .avatar {
      width: 45px;
      height: 45px;
      border-radius: 100%;
      background-color: var(--background-color);

      .avatar-image {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        object-fit: cover;
      }
    }

    a {
      color: var(--black-color);
      margin-left: 8px;
      font-size: 20px;
    }

    .auth-links {
      color: var(--black-color);
      font-size: 16px;
      margin-left: 16px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.navbar,
.container {
  position: absolute;
  top: 132px;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 32px;
  width: 280px;
  height: calc(100% - 148px);
  background-color: var(--white-color);
  border-radius: 16px;
}

.container {
  left: 332px;
  width: calc(100% - 364px);
  min-height: calc(100% - 148px);
  background-color: var(--white-color);
  border-radius: 16px;
  padding: 16px;
}

.navbar {
  padding: 24px 16px;

  .role {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: var(--slate-gray-color);
  }

  ul {
    li {
      width: 100%;
      list-style-type: none;
      margin-bottom: 12px;

      a {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 16px 24px;
        border-radius: 16px;
        text-decoration: none;
        font-size: 16px;
        color: var(--slate-gray-color);

        i {
          width: 60px;
        }

        p {
          font-weight: 900;
        }
      }

      a:hover {
        background-color: var(--light-gray-color);
        transition: background-color 300ms linear;
        color: var(--black-color);
      }
    }

    li.active {
      a {
        background-color: var(--light-gray-color);
        transition: background-color 300ms linear;
        color: var(--black-color);
      }
    }
  }
}

/* Error Component */
@keyframes slideUpFadeIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
    visibility: hidden;
  }
  1% {
    visibility: visible;
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}

@keyframes slideDownFadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
  99% {
    opacity: 0;
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
    visibility: hidden;
  }
}

#error_explanation {
  position: fixed;
  bottom: 32px;
  right: 32px;
  width: 300px;
  max-width: 90%;
  background-color: var(--error-color);
  color: var(--white-color);
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 12px var(--shadow-box);
  z-index: 1050;

  animation: slideUpFadeIn 0.5s ease-out forwards;
}

#error_explanation.hiding {
  animation: slideDownFadeOut 0.5s ease-in forwards;
}

#error_explanation h2 {
  font-size: 1.1em;
  margin-top: 0;
  margin-bottom: 10px;
}

#error_explanation ul {
  margin-bottom: 0;
  padding-left: 20px;
}

#error_explanation li {
  font-size: 0.95em;
}

/* Flash messages */
@keyframes slideDownFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
    visibility: hidden;
  }
  1% {
    visibility: visible;
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}

@keyframes slideUpFadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
  99% {
    opacity: 0;
    transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
    visibility: hidden;
  }
}

.flash-mes {
  position: fixed;
  top: 16px;
  right: 16px;
  width: 300px;
  max-width: 90%;
  color: var(--white-color);
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 12px var(--shadow-box);
  z-index: 1050;
  font-size: 0.95em;
  animation: slideDownFadeIn 0.5s ease-out forwards;
}

.flash-mes.hiding {
  animation: slideUpFadeOut 0.5s ease-in forwards;
}

.notice {
  background-color: var(--success-color);
}

.alert {
  background-color: var(--error-color);
}

.subject-card {
  width: 300px;
  border: 1px solid var(--background-color);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px var(--shadow-box);

  .subject-card-header {
    width: 100%;
    height: 200px;

    .subject-card-header-img{
      width: 100%;
      height: 100%;
    }
  }

  .subject-card-content {
    padding: 16px;
    display: flex;
    height: 200px;
    flex-direction: column;
    gap: 8px;
    min-height: 150px;

    > h3 {
      font-size: 24px;
      font-weight: 600;
      word-wrap: break-word;
      overflow-wrap: break-word;
      white-space: normal;

      a {
        text-decoration: none;
        color: var(--black-color);
      }

      a:hover {
        text-decoration: underline;
      }
    }

    > p {
      font-size: 16px;
      color: var(--slate-gray-color);
      word-wrap: break-word;
      overflow-wrap: break-word;
      white-space: normal;
    }
  }

  .subject-card-footer {
    padding: 0 16px;

    button {
      cursor: pointer;
      border: none;
      height: 32px;
      border-radius: 10px;
      font-size: 16px;
      font-weight: 600;
      display: flex;
      padding: 16px;
      justify-content: center;
      align-items: center;
      margin-bottom: 16px;
      color: var(--primary-color);

      &:hover {
        background-color: var(--light-gray-color);
        transition: background-color 300ms linear;
      }
    }

    a {
      height: 32px;
      border-radius: 10px;
      font-size: 16px;
      font-weight: 600;
      display: flex;
      padding: 16px;
      justify-content: center;
      align-items: center;
      margin-bottom: 16px;
      text-decoration: none;
      color: var(--primary-color);

      &:hover {
        background-color: var(--light-gray-color);
        transition: background-color 300ms linear;
      }
    }

    .delete {
      width: 100px;
      height: 32px;
      border-radius: 10px;
      font-size: 16px;
      font-weight: 600;
      display: flex;
      padding: 16px;
      justify-content: center;
      align-items: center;
      margin-bottom: 16px;

      i {
        color: var(--error-color);
        margin-right: 8px;
      }

      p {
        font-size: 14px;
        color: var(--slate-gray-color);
      }
    }
  }
}

.pagy.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  list-style: none;
  gap: 5px;

  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0 3px;
    text-decoration: none;
    color: var(--link-color);
    border: 1px solid transparent;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 36px;
    font-weight: 500;
    text-align: center;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;

    &:hover:not([aria-disabled="true"]):not([aria-current="page"]) {
      background-color: var(--light-gray-color);
      color: var(--link-hover-color);
    }
  }

  a[aria-current="page"].current {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-color: var(--primary-color);
    font-weight: bold;
  }

  a[aria-disabled="true"] {
    color: var(--disabled-text-color);
    pointer-events: none;
  }
}
